// nextflow config for nf-core/rnaseq
params {
    config_profile_contact     = "Paolo Cozzi (@bunop)"
    config_profile_description = "nf-core/rnaseq IBBA profile provided by nf-core/configs"
}

profiles {
    galileo {
        process {
            withName: 'DUPRADAR' {
                time        = { 24.h  * task.attempt }
                cpus        = { 8     * task.attempt }
                memory      = { 64.GB * task.attempt }
                maxRetries  = 6

                // enable local scratch for this process ($TMPDIR)
                scratch     = true
            }
        }
    }
}
