// nextflow config for nf-core/methylong
params {
    config_profile_contact     = "Paolo Cozzi (@bunop)"
    config_profile_description = "nf-core/methylong IBBA profile provided by nf-core/configs"
}

profiles {
    galileo {
        process {
            // increase memory for those dataset in particular
            withName: PORECHOP_PORECHOP {
                memory = { 72.GB * task.attempt }
            }
        }
    }
}
