// nextflow config for cnr-ibba/wf-alignment
// nextflow config for cnr-ibba/wf-basecalling
params {
    // ignore errors with pipeline schema
    schema_ignore_params = [
        "config_profile_url",
        "config_profile_contact",
        "config_profile_description",
        "config_profile_name",
        "custom_config_base",
        "show_hidden_params",
        "validate_params",
        "monochrome_logs",
        "wf"
    ].join(",")

    // disable nf-core specific config parameters
    config_profile_url = null
    config_profile_contact = null
    config_profile_description = null
    config_profile_name = null
    custom_config_base = null
}
