/*
 * -------------------------------------------------
 *  nfcore/nf-treeseq custom profile Nextflow config file
 * -------------------------------------------------
 * Config options for custom environments.
 * Cluster-specific config options should be saved
 * in the conf/pipeline/nf-treeseq folder and imported
 * under a profile name here.
 */

profiles {
    ibba {
        includeConfig "${params.custom_config_base}/conf/pipeline/nf-treeseq/ibba.config"
    }
}
