
params {
    // some information on the profile name
    config_profile_name = 'ibba'
    config_profile_description = 'IBBA clusters profile provided by nf-core/configs.'
    config_profile_contact = 'Paolo Cozzi (@bunop)'
    config_profile_url = 'https://ibba.cnr.it/'
}

// custom profiles for different clusters
profiles {
    core {
        params {
            config_profile_description = "IBBA 'core' cluster profile provided by nf-core/configs."
            config_profile_contact = 'Paolo Cozzi (@bunop)'
        }

        executor {
            $slurm {
                queueSize = 50
                submitRateLimit = '25/2min'
                pollInterval = '60s'
            }
        }

        singularity {
            enabled = true
            autoMounts = true
            cacheDir = '/home/core/nxf_singularity_cache/'
        }

        process {
            // https://www.nextflow.io/docs/edge/reference/process.html#resourcelimits
            resourceLimits = [
                cpus: 32,
                memory: 64.GB
            ]

            // related to the queue
            executor = 'slurm'
            queue = 'long'

            // related to job failure resubmissions
            maxRetries = 3
        }
    }

    galileo {
        params {
            config_profile_description = "Cineca 'Galileo 100' cluster profile provided by nf-core/configs."
            config_profile_contact = 'Paolo Cozzi (@bunop)'
        }

        executor {
            $slurm {
                queueSize = 100
                submitRateLimit = '50/2min'
                pollInterval = '30s'
            }
        }

        singularity {
            enabled = true
            autoMounts = true
            runOptions = '-B $TMPDIR'
        }

        process {
            // https://www.nextflow.io/docs/edge/reference/process.html#resourcelimits
            resourceLimits = [
                cpus: 48,
                memory: 384.GB,
                time: 96.h
            ]

            // custom options for galileo 100 cluster
            executor = 'slurm'
            queue = 'g100_usr_prod'

            // custom cluster options (not managed by Nextflow)
            // SLURM_JOB_ACCOUNT is a SLURM environment variable available only when running within a job
            clusterOptions = {
                // setting QOS based on time
                def qos = task.time > 24.h ? "--qos=g100_qos_lprod" : "--qos=normal"

                // this will be added to the sbatch command
                return "--account=${SLURM_JOB_ACCOUNT} ${qos}"
            }

            errorStrategy = {
                // this seems associated with issues to SLURM controller
                // try to resubmit the job but after waiting a certain amount of time
                if (task.exitStatus == 1) {
                    // exponential backoff using 10 minutes as base
                    def waitTime = (Math.pow(2, task.attempt) * 600) as long
                    println "Exit status 1 detected. Attempt ${task.attempt}. Waiting ${waitTime} seconds before retry..."
                    sleep(waitTime * 1000) // sleep takes milliseconds
                    return 'retry'
                }
                else if (task.exitStatus in ((130..145) + [104])) {
                    return 'retry'
                }
                else {
                    return 'finish'
                }
            }

            // related to job failure resubmissions
            maxRetries = 3
        }
    }
}
