
params {
    // some information on the profile name
    config_profile_name = 'ibba'
    config_profile_description = 'IBBA clusters profile provided by nf-core/configs.'
    config_profile_contact = 'Paolo Cozzi (@bunop)'
    config_profile_url = 'https://ibba.cnr.it/'
}

// custom profiles for different clusters
profiles {
    core {
        process {
            // https://www.nextflow.io/docs/edge/reference/process.html#resourcelimits
            resourceLimits = [
                cpus: 32,
                memory: 64.GB
            ]

            // related to the queue
            executor = 'slurm'
            queue = 'long'

            // related to job failure resubmissions
            maxRetries = 3
        }

        params {
            config_profile_description = "IBBA 'core' cluster profile provided by nf-core/configs."
            config_profile_contact = 'Paolo Cozzi (@bunop)'

            max_memory                 = '64.GB'
            max_cpus                   = 32
        }

        executor {
            $slurm {
                submitRateLimit = '20 sec'
            }
        }

        singularity {
            enabled = true
            autoMounts = true
            cacheDir = '/home/core/nxf_singularity_cache/'
        }
    }

    galileo {
        process {
            // https://www.nextflow.io/docs/edge/reference/process.html#resourcelimits
            resourceLimits = [
                cpus: 48,
                memory: 384.GB
            ]

            // related to the queue
            executor = 'slurm'
            queue = 'g100_usr_prod'
            clusterOptions = { task.time > 20.h ? '--qos=g100_qos_lprod' : '--qos=normal' }

            // related to job failure resubmissions
            maxRetries = 2
        }

        params {
            config_profile_description = "Cineca 'Galileo 100' cluster profile provided by nf-core/configs."
            config_profile_contact = 'Paolo Cozzi (@bunop)'

            max_memory                 = '64.GB'
            max_cpus                   = 32
            max_time                   = '96.h'
        }

        executor {
            $slurm {
                queueSize = 100
                submitRateLimit = '10 sec'
            }
        }

        singularity {
            enabled = true
            autoMounts = true
            runOptions = '-B $TMPDIR'
        }
    }
}
