
params {
    // some information on the profile name
    config_profile_name = 'ibba'
    config_profile_description = 'IBBA clusters profile provided by nf-core/configs.'
    config_profile_contact = 'Paolo Cozzi (@bunop)'
    config_profile_url = 'https://ibba.cnr.it/'
}

// custom profiles for different clusters
profiles {
    core {
        params {
            config_profile_description = "IBBA 'core' cluster profile provided by nf-core/configs."
            config_profile_contact = 'Paolo Cozzi (@bunop)'
        }

        executor {
            queueSize = 50
            submitRateLimit = '25/2min'
            pollInterval = '60s'
        }

        singularity {
            enabled = true
            autoMounts = true
            cacheDir = '/home/core/nxf_singularity_cache/'
        }

        process {
            // https://www.nextflow.io/docs/edge/reference/process.html#resourcelimits
            resourceLimits = [
                cpus: 32,
                memory: 64.GB
            ]

            // related to the queue
            executor = 'slurm'
            queue = 'long'

            // related to job failure resubmissions
            maxRetries = 3
        }
    }

    galileo {
        params {
            config_profile_description = "Cineca 'Galileo 100' cluster profile provided by nf-core/configs."
            config_profile_contact = 'Paolo Cozzi (@bunop)'
        }

        executor {
            queueSize = 100
            submitRateLimit = '50/2min'
            pollInterval = '30s'
        }

        singularity {
            enabled = true
            autoMounts = true
            runOptions = '-B $TMPDIR'
        }

        process {
            // https://www.nextflow.io/docs/edge/reference/process.html#resourcelimits
            resourceLimits = [
                cpus: 48,
                memory: 384.GB,
                time: 96.h
            ]

            // set a default execution time for all processes, which can be overridden by process-specific settings
            time   = { 16.h    * task.attempt }

            // custom options for galileo 100 cluster
            executor = 'slurm'
            queue = 'g100_usr_prod'

            // custom cluster options (not managed by Nextflow)
            // SLURM_JOB_ACCOUNT is a SLURM environment variable available only when running within a job
            clusterOptions = {
                // setting QOS based on time
                def qos = task.time > 24.h ? "--qos=g100_qos_lprod" : "--qos=normal"

                // this will be added to the sbatch command
                return "--account=${SLURM_JOB_ACCOUNT} ${qos}"
            }

            // custom error strategy to retry on some specific exit codes
            // (OUT_OF_MEMORY, TIME_LIMIT, or other unmanaged errors)
            // 104: 104	Out of memory (OOM) error
            // 130	SIGINT (2)	Interrupted (Ctrl+C or kill -2)
            // 131	SIGQUIT (3)	Quit with core dump
            // 132	SIGILL (4)	Illegal instruction
            // 133	SIGTRAP (5)	Debug trap
            // 134	SIGABRT (6)	Abort (e.g., abort() in C)
            // 135	SIGBUS (7)	Bus error (unaligned memory access)
            // 136	SIGFPE (8)	Floating point arithmetic error
            // 137	SIGKILL (9)	Forced kill — typically OOM killer of the kernel
            // 138	SIGUSR1 (10)	User signal 1
            // 139	SIGSEGV (11)	Segmentation fault
            // 140	SIGUSR2 (12)	User signal 2
            // 141	SIGPIPE (13)	Broken pipe
            // 142	SIGALRM (14)	Timer expired
            // 143	SIGTERM (15)	Termination — scheduler kills the job (timeout, preemption)
            // 144	SIGSTKFLT (16)	Stack fault
            // 145	SIGCHLD (17)	Child process terminated
            // 175	Nextflow-specific: the task was terminated due to exceeding the time limit (time directive)
            // 176	Nextflow-specific: the task was terminated due to exceeding the memory limit
            // 177	Nextflow-specific: the task was terminated due to exceeding generic resources
            errorStrategy = { task.exitStatus in ((130..145) + [104] + (175..177)) ? 'retry' : 'finish' }

            // related to job failure resubmissions
            maxRetries = 3
        }
    }
}
