// nextflow config for cnr-ibba/nf-resequencing-mem
profiles {
    galileo {
        process {
            // required since picard get out of space
            withName: "PICARD_MARKDUPLICATES" {
                ext.args = "--TMP_DIR \$TMPDIR"
            }

            // this process requires internet access. Moving it to a dedicated queue
            // mind to the different limits
            withName: "SNPEFF_DOWNLOAD" {
                executor = "slurm"
                queue = "g100_all_serial"
                clusterOptions = "--account=${SLURM_JOB_ACCOUNT} --qos=normal"
                time = 4.h
                cpus = 1
            }
        }
    }
}
