// nextflow config for nf-core/ampliseq
params {
    config_profile_contact     = "Paolo Cozzi (@bunop)"
    config_profile_description = "nf-core/ampliseq IBBA profile provided by nf-core/configs"
}

profiles {
    core {
        process {
            withLabel:process_low {
                memory = { 6.GB     * task.attempt }
                time   = { 6.h      * task.attempt }
            }
            withLabel:process_medium {
                memory = { 12.GB    * task.attempt }
            }
            withLabel:process_high {
                memory = { 40.GB    * task.attempt }
            }
            withLabel:process_high_memory {
                memory = { 64.GB   * task.attempt }
            }
        }
    }

    galileo { }
}
