// nextflow config for cnr-ibba/wf-basecalling
params {
    // ignore errors with pipeline schema
    schema_ignore_params = [
        "config_profile_url",
        "config_profile_contact",
        "config_profile_description",
        "config_profile_name",
        "custom_config_base",
        "show_hidden_params",
        "validate_params",
        "monochrome_logs",
        "aws_queue",
        "aws_image_prefix",
        "wf"
    ].join(",")

    // disable nf-core specific config parameters
    config_profile_url = null
    config_profile_contact = null
    config_profile_description = null
    config_profile_name = null
    custom_config_base = null
}


profiles {
    // base galileo profile at: https://raw.githubusercontent.com/cnr-ibba/nf-configs/refs/heads/ibba/conf/ibba.config
    galileo {
        process {
            withLabel: "gpu" {
                // custom queue
                queue = "g100_usr_interactive"

                // custom resource limits for this queue
                resourceLimits = [
                    cpus: 48,
                    memory: 384.GB,
                    time: 8.h
                ]

                errorStrategy = {
                    if (task.exitStatus in ((130..145) + [104])) {
                        return 'retry'
                    }
                    else {
                        return 'finish'
                    }
                }

                // limit max submitted jobs to the cluster
                maxForks = 5

                // custom cluster options (not managed by Nextflow)
                clusterOptions = { "--account=${SLURM_JOB_ACCOUNT} --qos=normal --gpus=1" }
            }

            withName: "dorado" {
                // custom container for dorado basecalling, with custom env and singularity run options
                container = { "$NXF_SINGULARITY_CACHEDIR/docker.io-bunop-dorado-v1.4.0-cuda11.8.0.img" }
            }
        }
    }
}
