// nextflow config for nf-core/ampliseq
params {
    config_profile_contact     = "Paolo Cozzi (@bunop)"
    config_profile_description = "nf-core/ampliseq IBBA profile provided by nf-core/configs"
}

profiles {
    core {
        process {
            // multicore formula: min(cpus/3, memory/13GB) normal | min(cpus/5, memory/18GB) non-directional
            // actual configuration: min(6/3, 26/13) = 2 cores (normal) | 1 cores (non-directional)
            withName: BISMARK_ALIGN {
                cpus     = { 6      * task.attempt  }
                memory   = { 26.GB  * task.attempt  }
            }
        }
    }

    galileo {
        process {
            // multicore formula: min(cpus/3, memory/13GB) normal | min(cpus/5, memory/18GB) non-directional
            // actual configuration: min(24/3, 104/13) = 8 cores (normal) | 4 cores (non-directional)
            withName: BISMARK_ALIGN {
                time     = { 1.d * task.attempt     }
                cpus     = { 24 * task.attempt      }
                memory   = { 104.GB * task.attempt  }
            }
        }
    }
}
